{% extends "base.html" %}
{% load static %}

{% block title %}Административная панель{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}?v=20260711-005">
{% endblock %}

{% block content %}
<div id="admin-panel-refresh" class="container-fluid py-3 admin-command-page" data-summary-url="{% url 'admin_summary_data' %}">
  {% include "admin_panel/_panel.html" %}
</div>
{{ summary_payload|json_script:"admin-summary-data" }}
{% endblock %}

{% block extra_scripts %}
{% include "partials/scripts/admin_scripts.html" %}
<script src="{% static 'vendor/chartjs/chart.umd.min.js' %}"></script>
<script src="{% static 'js/admin_summary.js' %}?v=20260711-002"></script>
{% endblock %}
